{{#unless session.currentUser}}

    <div id="las-login">
    <div class="grid_8">
    <h2>Please log in</h2>

    <p>
    Welcome to the GUADEC registration system. To use this registration and CfP system you need to login.
    <br/>
    This is a test instance; the login button will open a dialog that allows you to log in with any
    email address.
    </p>

    <form><button {{{ login_buttons.login }}}>Log in</button>

{{else}}

    Hi, {{name}}! Welcome to the GUADEC registration system.<br />

    {{#if config.registration.enabled}}
      <h2 style="padding-top: 20px;">Registration</h2>
      <div class="buttons">
        {{#has_permission "registration/view_public"}}
        <div class="icons-inline grid_3">
          <a href="/registration/list">
            {{>button text="Current registrations" symbol="fa-list-ul"}}
          </a>
        </div>
        {{/has_permission}}
        {{#has_permission "registration/register"}}
        {{#if registration}}
        <div class="icons-inline grid_5">
          <a href="/registration/register">
            {{>button text="Update registration" symbol="fa-pencil"}}
          </a>
        </div>
        {{#has_permission "registration/request_receipt"}}
        <div class="icons-inline grid_3">
          <a href="/registration/receipt" target="_blank">
            {{>button text="Get receipt" symbol="fa-ticket"}}
          </a>
        </div>
        {{/has_permission}}
        {{#has_permission "registration/pay"}}
        {{#unless registration.badge_printed}}
          <div class="icons-inline grid_11">
            <a href="/registration/pay">
              {{>button text="Pay more" symbol="fa-money"}}
            </a>
          </div>
        {{/unless}}
        {{/has_permission}}
        {{else}}
          <div class="icons-inline grid_5">
            <a href="/registration/register">
              {{>button text="Register" symbol="fa-list-ul"}}
            </a>
          </div>
        {{/if}}
        {{/has_permission}}
        </div>
      </div>
    {{/if}}

    {{#if config.papers.enabled}}
      <h2 style="padding-top: 20px;">Papers management</h2>
      <div class="buttons">
        {{#has_permission "papers/submit" }}
        <div class="icons-inline grid_3">
          <a href="/papers/submit">
            {{>button text="Submit a talk" symbol="fa-comment"}}
          </a>
        </div>
        {{/has_permission}}
        {{#has_permission "papers/list/own" }}
        <div class="icons-inline grid_5">
          <a href="/papers/list/own">
            {{>button text="View your submitted talks" symbol="fa-comments"}}
          </a>
        </div>
        {{/has_permission}}
        {{#has_permission "papers/list/accepted" }}
        <div class="icons-inline grid_3">
          <a href="/papers/list">
            {{>button text="View accepted talks" symbol="fa-check-circle"}}
          </a>
        </div>
        {{/has_permission}}
      </div>

    {{/if}}

    {{#has_permission "admin" }}
      <h2 style="padding-top: 20px;">Admin</h2>

      <div class="buttons">
        {{#has_permission "registration/desk"}}
        <div class="container_12">
        <div class="grid_2">
          <h3>Overview</h3>
          <div class="buttons icons-inline">
            <a href="/desk">
              {{>button text="Desk" symbol="fa-sliders"}}
            </a>
          </div>
        </div>
        </div>
        {{/has_permission}}

        <div class="grid_8">
        <h3>Papers management</h3>
        {{#has_permission "papers/list/all"}}
        <div class="icons-inline">
          <a href="/papers/admin/list">
            {{>button text="View all talks" symbol="fa-comments"}}
          </a>
        </div>
        {{/has_permission}}
        {{#has_permission "papers/vote"}}
        <div class="icons-inline">
          <a href="/papers/admin/vote">
            {{>button text="Vote on talks" symbol="fa-comments"}}
          </a>
        </div>
        {{/has_permission}}
        {{#has_permission "papers/showvotes" }}
        <div class="icons-inline">
          <a href="/papers/admin/vote/show">
            {{>button text="Show talk votes" symbol="fa-comments"}}
          </a>
        </div>
        {{/has_permission}}
        </div>

        <div class="grid_2">
        <h3>Registration</h3>
        <div class="buttons">
        {{#has_permission "registration/view_all" }}
        <div class="icons-inline">
          <a href="/registration/admin/list">
            {{>button text="List all registrations" symbol="fa-list-ul"}}
          </a>
        </div>
        </div>
        {{/has_permission}}
        </div>
      </div>
    {{/has_permission}}
{{/unless}}
