/* GUADEC style for regcfp.
 *
 * This stylesheet depends on the GUADEC 2017 Wordpress theme:
 *
 *    <link rel="stylesheet" href="https://2017.guadec.org/wp-content/themes/sensible-wp/style.css?ver=4.7.2" type="text/css" media="all" />
 *    <link rel="stylesheet" href="https://2017.guadec.org/?sccss=1&ver=4.7.2" type="text/css" media="all" />
 *
 * And also the main regcfp stylesheet (style.css).
 */

/* This overrides the "hide menu for small screens" business that the Wordpress
 * theme does.
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:500');

@media screen and (max-width: 900px) {
	.main-navigation ul {
		display: inline;
	}
}

/* This removes needless blue space in header */
.entry-header {
	padding: 0 40px;
	height: 450px;
	background-image: url('https://static.gnome.org/guadec-2017/website-hero-regcfp.svg') !important;
}

/* This means horizontal scrollbars are visible when needed */
body, .grid {
  overflow: visible;
	font-family: 'Source Sans Pro', sans-serif !important;
}

/* Remove the big border around login/logout buttons */
button.login {
  outline: none;
  border: none;
  padding: 0;
  font-size: inherit;
}

/* Fixes weird issue where links flash red */
a, a:visited !.main-navigation { color: #4a86cf; }

a:hover { color: #53cfe8; }

/* Override default regcfp style.css to give us <input> boxes that
 * can shrink when small screens are used.
 */
.submission-form > tbody > tr > td > input[type=text],
.submission-form > tbody > tr > td > textarea {
  max-width: 60%;
}

/* Wordpress theme sets this to 100% for tables */
table.purchase-option-list {
  width: auto;
  margin: 0 0 0 0;
}

/* Footer taken from the GNOME Grass theme:
 * https://www.gnome.org/wp-content/themes/gnome-grass/style.css?ver=4.7.2
 */

#footer {
		font-family: sans;
		font-size: normal;
    clear: left;
    background: #000;
    color: #919191;
    padding: 20px 20px;
    padding-top: 40px;
    margin-top: 80px;
}
#footer div.links > div > ul > li {
    float: left;
    margin: 0 40px 10px 0;
}
#footer div.links div a, #footer div.links div strong {
    display: block;
    text-decoration: none;
}
#footer div.links div a:hover, #footer div.links div a:focus {
    text-decoration: underline;
}
#footer div.language {
    float: right;
}
#footer div.language a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 220px;
    height: 110px;
    background: url(images/footer-map.png) center center no-repeat;
    outline: none;
    text-decoration: none;
}
#footer div.language a span {
    background: #f4f4f4;
    background: -moz-linear-gradient(bottom, #ececec, #fff);
    background: -webkit-linear-gradient(bottom, #ececec, #fff);
    background: linear-gradient(bottom, #ececec, #fff);
    padding: 4px 12px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    color: #333;
}

#footer div.language a span.loading {
    display: none;
}
#footer div.language a.loading {
    cursor: wait !important;
}
#footer div.language a.loading span.switch {
    display: none;
}
#footer div.language a.loading span.loading {
    display: inline-block;
}
#footer div.language a:hover span.switch {
    background: #fff;
    background: -moz-linear-gradient(bottom, #fff, #fff);
}


#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer ul li {
    margin: 0;
    padding: 0;
}
#footer ul.menu > li > a {
    font-weight: bold;
}
#footer .links a {
    color: inherit;
    outline: 0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin: 6px 0;
    font-size: 14px; /* 14px */
}
#footer .links a:hover {
    color: #c4c4c4;
}
#footer .links a:active,
#footer .links a:focus {
    color: #fff;
}
#footer #footnotes {
    margin-top: 20px;
}
#footer #footnotes small {
    font-size: 88%;
}
#footer #footnotes a {
    color: inherit;
}

/* These are taken from the CSS generated by the Wordpress Sensible theme
 * customizer and inserted into every page in 2017.guadec.org. It'll need to be
 * manually kept in sync.
 */

body, button, input, select, textarea, p { color: #1e2628; }

body {
	font-size: large;
}

a { color: #4a86cf; }

h2 {
	font-size: xx-large;
}

.main-navigation li:hover > a, a:hover { color: #53cfe8; }

.member .fa:hover { background: #4a86cf; }

#sequence .slide-arrow { background: #4a86cf; }

.social-media-icons .fa { color: #1e73be; }

.social-media-icons .fa:hover { color: #8224e3; }

.home-services .fa, .service .fa  { background: #4a86cf; }

.entry-header { background: #4a86cf; }

.home-entry-title:after, .member-entry-title:after, .works-entry-title:after, .client-entry-title:after, .home-news h5:after, .home-team h5:after, .home-cta h6:after, .footer-contact h5:after, .member h5:after { border-color: #4a86cf; }

.main-navigation ul ul li { border-color: #4a86cf; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
	background: #4a86cf;
	border-color: #4a86cf;
}

input[type=text], input[type=email], input[type=number], select {
	padding: 5px;
	border-radius: 3px;
	border: 1px gray solid;
}

.home-blog .entry-footer:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { border-color: #4a86cf; }

.nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous, .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next { background: #4a86cf; }

#site-navigation button:hover { background: none; }

h1.site-title a { color: #4a86cf; }



blockquote { border-color:#4a86cf; }

.site-footer { background: #4a86cf; }

.footer-contact h5 { color: #4a86cf; }

.footer-contact h5:after { border-color: #4a86cf; }


/* The custom CSS for GUADEC theme */

table:not(.submission-form) th, table:not(.submission-form) td {
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #ddd;
}

.paper table th, .paper table td {
  padding: 0px;
  padding-right: 5px;
  border-bottom: none;
  text-align: left;
}

.perk {
  width: 100%;
  color: grey;
  text-decoration: line-through;
}

.perk-enough {
  color: black;
  font-style: normal;
  text-decoration: none;
}

.ui-slider {
		display: inline-block;
    height: 0.4em;
		margin: 0;
    margin-top: 40px;
    margin-bottom: 2.3em;
    width: 76% !important;
}

 .ui-slider-handle {
	 margin-top: -2px;
	 border-radius: 50%;
 }

.slider-bg{
    height: 100%;
    float: left;
		margin-top: 0px;
    background: transparent;
    display: block;
}

.slider-bg span {
    position: relative;
    left: 0%;
    width: 100%;
    text-align: center;
    top: -1.75em;
		font-size: 12pt;
    font-weight: normal;
    display: block;
}

.slider-tick{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    top: -100%;
    height: 1.3em;
    position: relative;
    border-right: 1px solid #888;
    display: block;
}
.slider-tick span{
    position: relative;
    left: 100%;
    top: 90%;
    margin-left: -7px;
    font-size: 80%;
    font-weight: normal;
}

.slider-bg-student {
    background: #ad7fa8;
}

.slider-bg-casual {
    background: #729fcf;
}

.slider-bg-professional {
    background: #73d216;
}

.circle-text {
    color: #fff;
    font-size: 40px !important;
}

.buttons {
    text-align: center;
}

.icons-inline {
    display: inline-block;
    margin: 0 15px;
}
.icons-inline h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}
.icons a,
.icons-inline a {
    text-decoration: none;
    outline : none;
}

.submission-form h3 {
  padding-top: 20px;
}

/* Final payment in bold */
td#reg-total {
  font-weight: bold;
}

.index-welcome {
	font-size: x-large;
	margin-bottom: 70px;
	font-weight: 300;
}

/* GUADEC 2017 styles */
.guadec-login {
	color: #4a86cf;
	font-size: x-large;
	text-align: center;
}

.guadec-login {
	color: #4a86cf;
	font-size: x-large;
	text-align: center;
}

.guadec-login p {
	color: #4a86cf;
}

.button {
  border-radius: 0;
  text-decoration: none;
  padding: 6px 30px;
  background-color: #4a86cf;
  color: white;
  border: 0px;
}

.button-big {
	border: none;
	border-radius: 0;
	display: inline-block;
	padding: 15px 30px;
	min-width: 300px;
	color: white;
	background-color: #4a86cf;
	font-size: x-large;
	text-align: center;
}

.button-big:hover {
	color: white;
	background-color: #5b97df;
}

.currentuser {
	color: white;
	font-size: large;
}

.button-big.logout {
	float: right;
	background-color: #3975be;
	margin: 0;
	padding: 10px;
	min-width: 150px;
}

.button-big.logout:hover {
	background-color: #5b97df;
}

#footnotes {
	text-align: right;
	font-size: small;
}

.grid-pad {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.grid {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden;
}
.head-overflow {
	width: 100%;
    overflow: visible !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
}

.navigation-container {
	font-weight: bold;
}

#currencyselector-container {
	width: 20%;
	display: inline-block;
	margin: 1%;
	margin-top: 30px;
	margin-bottom: 2.3em;
	vertical-align: top;
}

.register-and-pay-button {
		float: right;
}

#reg-currency, #reg-country {
	text-align: center;
}

#reg-fee {
	text-align: center;
	width: 35px;
	margin-left: 5px;
}

#total-to-pay {
	margin-top: 10px;
	font-size: x-large;
	font-weight: bold;
}

table {
	width: 100% !important;
}

table tr td {
	padding: 10px 0 !important;
	border: none !important;
}

td.field-label {
	box-sizing: border-box;
	width: 20%;
}

td.field-widget {
	box-sizing: border-box;
	width: 80%;
}

td.field-widget > * {
	width: 100%;
	box-sizing: border-box;
	/*display: table-cell;*/
}

td.note, p.note {
	padding-top: 0px ! important;
	margin-top: 0px;
	color: gray;
	font-size: small;
}

p.login-choose-text {
	font-size: 13pt;
	font-weight: bolder;
	padding: 25px;
	color: gray;
}

#authproviders {
	text-align: center;
}

#authproviders .login-buttons {
    margin-bottom: 20px;
}

#authproviders .login-buttons p {
    font-size: small;
}

#authproviders .login-buttons button {
	text-align: center;
  width: 100%;
	background-color: white;
	border: 1px lightgray solid;
	margin: 0;
	color: black;
	cursor: pointer;
}

#authproviders .login-buttons button:hover {
	background: #def;
}
