html{
    background: url('http://las.gnome.org/wp-content/uploads/sites/8/2016/05/las-website-skyline-white-1.png')  50% 0 no-repeat fixed;
}

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: Raleway;
	font-weight: 400; 
	font-size: 15px;
	line-height: 1.8;
}

#header {
    background: transparent url('http://las.gnome.org/wp-content/uploads/sites/8/2016/05/las-website-skyline-bridge.png')  50% 100% no-repeat scroll;
    background-size: cover !important;
    height: 650px;
    margin: 0px !important;
}

#top_bar {
    background: transparent !important;
    box-shadow: none !important;
    margin-top: 80px;
}
#top_bar ul {
    padding: 0;
}
#top_bar ul li {
    margin: 0 10px;
}
#top_bar a {
    font-size: 15px;
    font-weight: 800;
    text-shadow: none !important;
}
#top_bar a:active {
    background: transparent !important;
    box-shadow: none !important;
}

#logo img {
    height: 200px !important;
    width: 200px !important;
}

#hero-container {
    font-weight: 400;
    text-align: center;
    color: #fff;
    display: table;
    /*padding-top: 66px;*/
    padding-top: 71px;
}
#header .hero-header {
    font-size: 62px;
    margin-bottom: 30px;
    line-height: 50px;
    color: #fff;
}
#header .hero-description {
    font-size: 15px;
    font-weight: 600;
}
#header .hero-description p {
    margin-top: 53px;
}
#header .hero-description a{
    color: #fff;
    text-decoration: none;
    border-color: #018094;
    background: #018094;
    outline: 0;
    padding: 1em 1.5em 1em;
}

#footer {
    background: #028ea5;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-top: 1px solid #dadada;
}
#footer a:focus {
    background: transparent !important;
}

#las-login {
    padding-bottom: 40px;
}
#las-registration {
    padding-bottom: 20px;
}
#las-admin {
    padding-bottom: 40px;
    text-align: center;
}

.circle-background {
    color: #018094;
}
.circle-text {
    color: #fff;
    font-size: 40px !important;
}

.las-icons-container {
    text-align: center;
}

.las-icons-inline {
    display: inline-block;
    margin: 0 15px;
}
.las-icons-inline h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}
.las-icons a,
.las-icons-inline a {
    text-decoration: none;
    outline : none;
}

table:not(.submission-form) th, table:not(.submission-form) td {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #ddd;
}

.paper table th, .paper table td {
    padding: 0px;
    padding-right: 5px;
    border-bottom: none;
    text-align: left;
}

/* ----- Custom media queries -----*/

/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #header .hero-header {
        max-width: 65%;
    }
    #las-login h2 {
        font-size: 1.4em;
    }
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    h1,h2 {
        text-align: center;
    }
    #top_bar{
        margin-top: 0px;
    }
    #header #logo{
        text-align: center;
        display: inline-block;
        float: none;
    }
    #header img {
        height: 180px !important;
        width: 180px !important;
        float: none;
    }
    #hero-container {
        margin-top: 31px;
        padding-top: 0px;
    }
    #header .hero-header {
        font-size: 160%;
        line-height: 50px;
    }
    #header .hero-description p {
        margin-top: 42px;
    }
    #las-login h2 {
        font-size: 1.29em;
        text-align: inherit;
    }
    .right{
        float: none;
        text-align: center;
    }
    .submission-form tr td input[type="text"], .submission-form tr td textarea {
        width: 100%;
    }
}

/* Mobile Portrait Screen Sizes */
@media only screen and (max-width: 479px) {
    h1,h2 {
        text-align: center;
    }
    #top_bar {
        margin-top: 0px;
    }
    #header #logo {
        text-align: center;
        display: inline-block;
        float: none;
    }
    #header img {
        height: 180px !important;
        width: 180px !important;
        float: none;
    }
    #hero-container {
        margin-top: 31px;
        padding-top: 0px;
    }
    #header .hero-header {
        font-size: 160%;
        line-height: 50px;
    }
    #header .hero-description p {
        margin-top: 42px;
    }
    #las-login h2 {
        font-size: 1.3em;
    }
    .right{
        float: none;
        text-align: center;
    }
    .submission-form tr td input[type="text"], .submission-form tr td textarea, .submission-form tr td select {
        width: 100%;
    }
}

