<p>Welcome to the event registration system</p>

{{#if session.currentUser}}
Welcome, {{name}}<br />
{{#if config.paper_submission_enabled}}
<div class="buttons">
<div class="button"><a href="/papers/submit">Submit a talk</a></div>
{{/if}}
<div class="button"><a href="/papers/list">View your submitted talks</a></div>
</div>
Registering is not yet functional
{{else}}
Hello, please login, as the anonymous parts are not yet operational
{{/if}}
