{{#if name}}
<h1>{{name}}</h1>
<br /><br /><br />
{{/if}}

Available: 0 - {{count}}<br />
<form action="/view_name" method="GET">
    <input type="text" name="index">
    <input type="submit">
</form>
