Your selected registration fee: {{config.registration.currency_symbol}}{{regfee}}.
<br />
To complete your registration, choose a payment method below:<br/>
Paypal: $INSERT_PAYPAL_BUTTON_HERE<br />

<form action="/registration/pay/do" method="POST">
<input type="hidden" name="method" value="onsite">
<input type="hidden" name="regfee" value="{{regfee}}">
<input type="submit" value="Pay at the conference">
</form><br />
