To complete your registration, choose a payment for {{config.registration.currency_symbol}}{{regfee}} below:<br/><br/>
<form class="submission-form">
<input type="radio" name="method" value="paypal" checked="checked"> Pay using PayPal<br/>
<input type="radio" name="method" value="on-site" style="vertical-align: top;"> <div style="display: inline-block;">Pay at the conference<p class="note">If you select this option, you can pay at the registration desk at GUADEC</p></div><br/><br/>
<input class="submit-talk" type="submit" value="Complete registration" style="float: right;">
</form>

<!--
<form action="/registration/pay/do" method="POST">
<input type="hidden" name="method" value="onsite">
<input type="hidden" name="regfee" value="{{regfee}}">
<input type="submit" value="Pay at the conference">
</form><br />-->
