To complete your registration, pay ${{regfee}} below:<br/><br/>
<form class="submission-form" action="/registration/pay/do" method="POST">
<input type="hidden" name="currency" value="{{currency}}">
<input type="hidden" name="regfee" value="{{regfee}}">
<input type="hidden" name="method" value="paypal">
<input class="submit-talk" type="submit" value="Complete registration" style="float: right;">
</form>
