<div class="container">
<div class="row">
<div class="col-xs-12 bottom-margin">
<strong>Thanks for registering for {{event_name}}!</strong><br/>

{{#if needpay}}
{{>registration/payment}}
{{else}}
See you in {{event_location}}!<br />
<a href="/">Return</a>
{{/if}}
</div>
</div>
</div>
