<div class="container">
<div class="row">
<div class="col-xs-12 bottom-margin">
<form action="/desk/add" method="post">
<table class="table table-striped table-bordered">
<tr><td>Your name</td><td><input type="text" id="name" name="name"></td></tr>
<tr><td>Your email</td><td><input type="text" id="email1" name="email"></td></tr>
<tr><td>Confirm email</td><td><input type="text" id="email2" name="email2"></td></tr>
<input type="hidden" name="is_public" value="true">



<tr><td>&nbsp;</td><td><input type="checkbox" value="false" name="is_public"> Hide my name in the public list of attendees</td></tr>
<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>

</table>
</form>
</div>
</div>
</div>


<script type="text/javascript">
$(function() {
    $('form').submit(function(event) {
        if($('#name').val() == '') {
            window.alert("Please enter your name");
            return false;
        }
        if($('#email1').val() == '' || $('#email1').val() != $('#email2').val()) {
            window.alert("Please check your email address");
            return false;
        }
    });
});
</script>
