{
  "development": {
    "theming": {
      "site_name": "My Event registration",
      "event_name": "My Event",
      "logo": ""
    },
    "secret": "development",
    "database": {
      "database": "database.sqlite",
      "dialect": "sqlite",
      "storage": "database.sqlite",
      "define": {
        "paranoid": true
      }
    },

    "persona_audience": "http://localhost:3000",

    "permissions": {
      "admin": ["puiterwijk@fedoraproject.org"],
      "papers": {
        "submit": ["*authenticated*"],
        "list": {
          "accepted": ["*anonymous*"],
          "own": ["*authenticated*"],
          "all": ["puiterwijk@fedoraproject.org"]
        },
        "vote": ["puiterwijk@fedoraproject.org"],
        "showvotes": ["puiterwijk@fedoraproject.org"],
        "accept": ["puiterwijk@fedoraproject.org"]
      },
      "registration": {
        "register": ["*authenticated*"],
        "pay": ["*authenticated*"],
        "request_receipt": ["*authenticated*"],
        "view_public": ["*authenticated*"],
        "view_all": ["puiterwijk@fedoraproject.org"],
        "add_payment": ["puiterwijk@fedoraproject.org"],
        "print_badge": ["puiterwijk@fedoraproject.org"],
        "desk": ["puiterwijk@fedoraproject.org"]
      }
    },
    
    "papers": {
      "enabled": false
    },

    "registration": {
      "enabled": false,
      "fields": {
        "country": {
          "display_name": "Country",
          "type": "string",
          "required": true,
          "private": true,
          "placeholder": "Country of origin"
        }
      },
      "payment_product_name": "My Event Registration Fee",
      "currencies": {
        "EUR": {
          "symbol": "€",
          "min_amount_for_receipt": 20,
          "default_amount": 40,
          "conversion_rate": 1
        },
        "SEK": {
          "symbol": "kr",
          "min_amount_for_receipt": 190,
          "default_amount": 380,
          "conversion_rate": 0.11
        }
      },
      "main_currency": "EUR",
      "paypal_experience_profile": "",
      "desk_word": "something",

      "paypal": {
        "api_credentials": {
          "mode": "live",
          "client_id": "",
          "client_secret": ""
        },

        "profile": {
          "name": "Event Registration Profile",
          "presentation": {
            "brand_name": "Event Foundation",
            "logo_image": "https://www.guadec.org/wp-content/uploads/2014/10/guadec-logo-white.png",
            "locale_code": "US"
          },
          "input_fields": {
            "allow_note": true,
            "no_shipping": 1,
            "address_override": 0
          },
          "flow_config": {
            "landing_page_type": "billing",
            "bank_txn_pending_url": "http://www.guadec.org"
          }
        }
      }
    }
  }
}
