{
  "development": {
    "secret": "development",
    "database": {
      "database": "database.sqlite",
      "dialect": "sqlite",
      "storage": "database.sqlite"
    },
    "persona_audience": "http://localhost:3000",

    "permissions": {
      "admin": ["puiterwijk@fedoraproject.org"],
      "papers": {
        "submit": ["*authenticated*"],
        "list": {
          "accepted": ["*anonymous*"],
          "own": ["*authenticated*"],
          "all": ["puiterwijk@fedoraproject.org"]
        },
        "vote": ["puiterwijk@fedoraproject.org"],
        "showvotes": ["puiterwijk@fedoraproject.org"],
        "accept": ["puiterwijk@fedoraproject.org"]
      },
      "registration": {
        "register": ["*authenticated*"],
        "pay_extra": ["*authenticated*"],
        "request_receipt": ["*authenticated*"],
        "view_public": ["*authenticated*"],
        "view_all": ["puiterwijk@fedoraproject.org"],
        "add_payment": ["puiterwijk@fedoraproject.org"],
        "print_badge": ["puiterwijk@fedoraproject.org"]
      }
    },
    
    "paypal": {
        "mode": "live",
        "client_id": "",
        "client_secret": ""
    },

    "papers": {
      "enabled": true
    },

    "registration": {
      "enabled": false,
      "currency_symbol": "€",
      "currency_value": "EUR",
      "min_amount_for_receipt": 20,
      "default_amount": 40
    }
  }
}
