{
  "development": {
    "secret": "development",
    "database": {
      "database": "database.sqlite",
      "dialect": "sqlite",
      "storage": "database.sqlite"
    },
    "persona_audience": "http://localhost:3000",

    "permissions": {
      "admin": ["puiterwijk@fedoraproject.org"],
      "papers": {
        "submit": ["*authenticated*"],
        "list": {
          "accepted": ["*anonymous*"],
          "own": ["*authenticated*"],
          "all": ["puiterwijk@fedoraproject.org"]
        },
        "vote": ["puiterwijk@fedoraproject.org"],
        "admin": ["puiterwijk@fedoraproject.org"]
      }
    },

    "papers": {
      "enabled": true,
    },

    "registration": {
      "enabled": false
    }
  }
}
