<div class="container">
<div class="row">
<div class="col-xs-12 col-md-8 col-md-offset-2 bottom-margin">

<h3>{{event_name}} Registration</h3>
<p>You may complete your registration below.</p>

{{#if needpay}}
  {{>registration/payment}}
{{else}}
  {{>donate}}
{{/if}}

</div>
</div>
</div>
