<form action="/registration/pay" method="post">
<table class="submission-form">
<tr><td>Your name:</td><td><input type="text" name="submitter_name" value="{{user.name}}" disabled /></td></tr>
<tr><td>Amount:</td><td>
{{>currency_selector}} <input type="text" name="regfee" class="reg-fee">
<p class="note">Feel free to support us by donating as much as you're able to.<br />
We can only provide receipts for payments over {{currency_symbol config.registration.main_currency}}{{min_amount_main_currency}} or an equivalent value in another currency.
</td></tr>

<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>
</table>
</form>
