<div class="container">
<div class="row">
<div class="col-xs-12 col-md-8 col-md-offset-2 bottom-margin">

<h3>{{event_name}} Registration</h3>
<p>Your registration is incomplete.</p>
<p>To complete your registration, you will need to pay the registration fee. If you ran into difficulty with the PayPal based payment system, please contact <a href="mailto:flock-staff@fedoraproject.org">the Flock staff</a> for assistance.</p>
<p>Your registration details thus far have been saved and you may return to <a href="/registration/register">the registration form</a> to complete your registration, including submitting your registration fee pyment.</p>
<a href="/">Return</a>
</div>
</div>
</div>
