<div class="container">
<div class="row">
<div class="col-xs-12 bottom-margin">
<strong>Thanks for registering for FLOCK 2016!</strong><br/>

{{#has_permission "registration/pay"}}
{{>registration/payment}}
{{else}}
See you in Sweden!<br />
<a href="/">Return</a>
{{/has_permission}}
</div>
</div>
</div>
