<div class="container">
<div class="row">
<div class="col-xs-12 bottom-margin">
<strong>Thanks for registering for FLOCK 2016!</strong><br/>

{{#if needpay}}
{{>registration/payment}}
{{else}}
See you in Krakow!<br />
<a href="/">Return</a>
{{/if}}
</div>
</div>
</div>
