<div class="container">
<div class="row">
<div class="col-xs-12 bottom-margin">
You tried to visit a page that requires you to provide some additional information.

<form action="/authg/register" method="POST">
<input type="hidden" name="origin" value="{{ origin }}">
Please enter your full name: <input type="text" name="fullname"><br />
<input type="submit" value="Register">
</form>
</div>
</div>
</div>
