{{#unless session.currentUser}}
<div id="las-login">
<div class="grid_8">
<h2>Welcome to LAS GNOME registration system</h2>

<p>
To use this registration and CfP system you need to login using Mozilla
Persona. Both gnome.org or fedorproject.org accounts can be used for
authentication (i.e. account@gnome.org).<br />
If you do not have such an account then simply enter any email address you
own. Some providers like Gmail can be used without further verification, in all other
cases a verification email will be send to you and you can use this email
address to authenticate afterwards (see the <a
href="https://support.mozilla.org/en-US/kb/what-is-persona-and-how-does-it-work#w_how-do-i-create-an-account">Mozilla
Persona FAQ</a> for more information).
</p>
</div>

<div class="las-icons-container las-icons grid_4" style="padding-top: 75px;">
<a href="/#login" onclick="{{ login_buttons.login.onclick }}">
    <span class="fa-stack fa-3x">
      <i class="fa fa-circle fa-stack-2x circle-background"></i>
      <i class="fa fa-sign-in fa-stack-1x circle-text"></i>
    </span>
    <h4>LOG IN WITH PERSONA</h4>
</a>
</div>

<div class="clearfix"></div>
</div>

{{else}}

<h2 style="text-align: center;">Welcome, {{name}} to the  Libre Application Summit registration system</h2>
<hr class="bottom_shadow"/>

{{#if config.papers.enabled}}
<h2>Papers management</h2>
<div class="las-icons-container">
{{#has_permission "papers/submit" }}
<div class="las-icons-inline grid_3">
<a href="/papers/submit">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x circle-background"></i>
      <i class="fa fa-comment fa-stack-1x circle-text"></i>
    </span>
    <h4>Submit a talk</h4>
</a>
</div>
{{/has_permission}}
{{#has_permission "papers/list/own" }}
<div class="las-icons-inline grid_5">
<a href="/papers/list/own">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x circle-background"></i>
      <i class="fa fa-comments fa-stack-1x circle-text"></i>
    </span>
    <h4>View your submitted talks</h4>
</a>
</div>
{{/has_permission}}
{{#has_permission "papers/list/accepted" }}
<div class="las-icons-inline grid_3">
<a href="/papers/list">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x circle-background"></i>
      <i class="fa fa-check-circle fa-stack-1x circle-text"></i>
    </span>
    <h4>View accepted talks</h4>
</a>
</div>
{{/has_permission}}
</div>
{{/if}}

<div class="clearfix"></div>

{{#if config.registration.enabled}}
<div id="las-registration">
<h2>Registration</h2>
<div class="las-icons-container">
{{#has_permission "registration/view_public"}}
<div class="las-icons-inline grid_3">
<a href="/registration/list">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x circle-background"></i>
      <i class="fa fa-list-ul fa-stack-1x circle-text"></i>
    </span>
    <h4>Current registrations</h4>
</a>
</div>
{{/has_permission}}
{{#has_permission "registration/register" }}
{{#if registration}}
<div class="las-icons-inline grid_5">
<a href="/registration/register">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x circle-background"></i>
      <i class="fa fa-pencil fa-stack-1x circle-text"></i>
    </span>
    <h4>Update registration</h4>
</a>
</div>
{{#has_permission "registration/request_receipt"}}
<div class="las-icons-inline grid_3">
<a href="/registration/receipt" target="_blank">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x circle-background"></i>
      <i class="fa fa-ticket fa-stack-1x circle-text"></i>
    </span>
    <h4>Get receipt</h4>
</a>
</div>
{{/has_permission}}
{{#has_permission "registration/pay"}}
    {{#unless registration.badge_printed}}
    <div class="las-icons-inline grid_11">
    <a href="/registration/pay">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x circle-background"></i>
          <i class="fa fa-money fa-stack-1x circle-text"></i>
        </span>
        <h4>Pay more</h4>
    </a>
    </div>
    {{/unless}}
{{/has_permission}}
{{else}}
<div class="las-icons-inline grid_5">
<a href="/registration/register">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x circle-background"></i>
      <i class="fa fa-list-ul fa-stack-1x circle-text"></i>
    </span>
    <h4>Register</h4>
</a>
</div>
{{/if}}
{{/has_permission}}
<div class="clearfix"></div>
</div>
</div>
{{/if}}

{{#has_permission "admin" }}
<hr class="bottom_shadow"/>
<h2>Admin</h2>

{{#has_permission "registration/desk"}}
<div id="las-admin" class="container_12">
<div class="grid_2">
<h3>Overview</h3>
<div class="las-icons-container las-icons-inline">
<a href="/desk">
    <span class="fa-stack fa-4x">
      <i class="fa fa-square fa-stack-2x circle-background"></i>
      <i class="fa fa-sliders fa-stack-1x circle-text"></i>
    </span>
    <h4>Desk</h4>
</a>
</div>
{{/has_permission}}
</div>

<div class="grid_8">
<h3>Papers management</h3>
{{#has_permission "papers/list/all"}}
<div class="las-icons-inline">
<a href="/papers/admin/list">
    <span class="fa-stack fa-4x">
      <i class="fa fa-square fa-stack-2x circle-background"></i>
      <i class="fa fa-comments fa-stack-1x circle-text"></i>
    </span>
    <h4>View all talks</h4>
</a>
</div>
{{/has_permission}}
{{#has_permission "papers/vote"}}
<div class="las-icons-inline">
<a href="/papers/admin/vote">
    <span class="fa-stack fa-4x">
      <i class="fa fa-square fa-stack-2x circle-background"></i>
      <i class="fa fa-comments fa-stack-1x circle-text"></i>
    </span>
    <h4>Vote on talks</h4>
</a>
</div>
{{/has_permission}}
{{#has_permission "papers/showvotes" }}
<div class="las-icons-inline">
<a href="/papers/admin/vote/show">
    <span class="fa-stack fa-4x">
      <i class="fa fa-square fa-stack-2x circle-background"></i>
      <i class="fa fa-comments fa-stack-1x circle-text"></i>
    </span>
    <h4>Show talk votes</h4>
</a>
</div>
{{/has_permission}}
</div>

<div class="grid_2">
{{#has_permission "registration/view_all" }}
<h3>Registration</h3>
<div class="las-icons-inline">
<a href="/registration/admin/list">
    <span class="fa-stack fa-4x">
      <i class="fa fa-square fa-stack-2x circle-background"></i>
      <i class="fa fa-list-ul fa-stack-1x circle-text"></i>
    </span>
    <h4>List all registrations</h4>
</a>
</div>
{{/has_permission}}
</div>
<div class="clearfix"></div>
</div>
{{/has_permission}}
{{/unless}}
