Thank you!<br/>
{{#if approved}}
Your PayPal payment has come in and has been approved.
{{else}}
Your PayPal payment has come in, and will be processed.
It can take some time for your payment to be verified.<br/>
{{/if}}
See you in Sweden!<br />
<a href="/">Return</a>
