<strong>Thanks for registering for GUADEC 2015!</strong><br/>

{{#has_permission "registration/pay"}}
{{>registration/payment}}
{{else}}
See you in Sweden!<br />
<a href="/">Return</a>
{{/has_permission}}
