<div class="container">
<div class="row">
<div class="col-xs-12 bottom-margin">
<h3>Paper Submitted Successfully</h4>
<p>Your paper was submitted, thank you!</p>
<p><a href="/">Return</a></p>
</div>
</div>
</div>
