You need to provide some additional information to proceed.

<form action="/authg/register" method="POST">
<input type="hidden" name="origin" value="{{ origin }}">
Please enter your full name as it should appear on the schedule and badge: <input type="text" name="fullname"><br />
<input type="submit" value="Register">
</form>
