<p>
Total registrations: {{ registrations.length }}
</p>

<table>
<tr>
{{#each fields}}
<th>{{this}}</th>
{{/each}}
</tr>
{{#each registrations}}
<tr>
{{#each this.info}}
<td>{{this}}</td>
{{/each}}
{{/each}}
</table>
