<strong>Thanks for registering for GUADEC 2017!</strong><br/>

{{#has_permission "registration/pay"}}
{{>registration/payment}}
{{else}}
See you in Manchester, England!<br />
<a href="/">Return</a>
{{/has_permission}}
