<strong>Thanks for registering for GUADEC 2016!</strong><br/>

{{#has_permission "registration/pay"}}
{{>registration/payment}}
{{else}}
See you in Karlsruhe, Germany!<br />
<a href="/">Return</a>
{{/has_permission}}
