<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
<title>Receipt for LAS GNOME</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Andreas Nilsson"/>
<meta name="description" content="content" />
<meta name="robots" content="index, follow" />
<link rel="stylesheet" href="/css/style.css" type="TEXT/CSS" media="screen"/>
 
<style>
 
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 
.header {
  width: 100%;
  height: 100px;
  background: #6B8E9F url('https://www.guadec.org/wp-content/uploads/2014/10/guadec-logo-white.png') center center no-repeat;
}
 
.content {
  margin: 30px;
}
 
</style>
 
 
</head>
<body>
 
 
<div class="header">&nbsp;</div>
<div class="content">
<h1>Receipt</h1>
<h3>Thank you, {{user.name}}, for registering to LAS GNOME!</h3>
 
<p>We received your payment of {{registration.paid}} to the GNOME Foundation, as a registration fee for LAS GNOME.</p>
 
<p>See you in Portland, Oregon!</p>
</div>
 
</body>
</html>
