<strong>Thanks for registering for {{event_name}}!</strong><br/>

{{#has_permission "registration/pay"}}
{{>registration/payment}}
{{else}}
See you in {{event_location}}!<br />
<a href="/">Return</a>
{{/has_permission}}
