<strong>Thanks for registering for LAS GNOME!</strong><br/>

{{#has_permission "registration/pay"}}
{{>registration/payment}}
{{else}}
See you in Portland, Oregon!<br />
<a href="/">Return</a>
{{/has_permission}}
