{{#if submission_error}}
<font color="red"><b>Something went wrong submitting. Please check you filled in all fields!</b></font>
{{/if}}

<form action="/papers/submit" method="post">
<table class="submission-form">
<tr><td>Submitter:</td><td><input type="text" value="{{user.email}}" disabled /></td></tr>
<tr><td>Your name:</td><td><input type="text" name="submitter_name" value="{{user.name}}" disabled /></td></tr>
<tr><td>Paper title:</td><td><input type="text" name="paper_title" value="{{paper_title}}" maxlength=50 /></td></tr>

<tr><td>Paper summary:</td>
<td><textarea name="paper_summary">{{paper_summary}}</textarea></td>
</tr>

<tr><td>&nbsp;</td>
<td><input class="submit-talk" type="submit" value="Submit" /></td>
</tr>

</table>
</form>
